sympy
myst-parser
numpy
scipy
matplotlib
pandas
sphinx>=5.0
pympler
psutil
prettytable
numdifftools
mpi4py
astropy
# weak-lensing extensions
jax
quadax
numpyro
arviz
corner
tabulate
mpmath
katz @ git+https://github.com/DeaglanBartlett/katz.git
